body{
    font-family: "Inter", sans-serif;
}
.logo{
     padding-right: 5px;
     vertical-align: middle;
     padding-left: 210px;
     padding-bottom: 8px;
     padding-top: 4px;
}
.navbar{
    background-color:white;
    color: #424242;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    width:auto;
}
.hamburger{
    width: 24px;
    height: 24px;
    cursor: pointer;
}
.nav-links{
    display: flex;
    gap: 40px;
    justify-content: space-between;
    align-items:center;
}
.topLink{
    color: gray;
    font-size: 15px;
    cursor: pointer;
}
.topLink:hover{
    color: rgba(10, 166, 219, 0.897);
}
.heroImage{
    padding-top: 70px;
    padding-left:390
}
h1{
    font-weight: 20;
    color: rgba(44, 44, 44, 0.921);
    padding-left: 650px;
    padding-top: 45px;
}
p{
    font-size: 20;
    font-weight: 0.1px;
    color: rgba(44, 44, 44, 0.792);
    padding-left: 405;
}
.sign-up{
    font-size: 18;
    padding: 12px;
    padding-left: 40px;
    padding-right: 40px;
    margin-left: 680;
    color: white;
    background-color:  rgb(39, 144, 214);
    border-color:  rgb(39, 144, 214);
    border-radius: 2px;
    border: none;
    cursor: pointer;
    margin-top: 45px;
}
.sign-up:hover{
    background-color: black;
}